@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Ubuntu+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', Arial, sans-serif;
}

html {
    scroll-behavior: smooth
}

body {
    min-width: 290px;
    color: black;
    background-color: #ffffff;
    line-height: 1.5;
}

main {
    margin-bottom: 2rem;
}
/*All header texts*/

header {
    color: black;
    margin: 10px;
    text-align: left;
    font-size: 1.7em;
    padding-bottom: .3rem;
    padding-left: 1.2rem;
    text-transform: capitalize;
}

/*Side bar*/

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: black;
    text-transform: capitalize;
}

ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #ffffff;
}

.list {
    font-size: 16px;
    border-top: 1px solid black;
    padding: 10px 10px;
}

#navbar a {
    display: block;
    color: black;
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    cursor: pointer;
}

/* MAIN DOC */
#main-doc {
    width: auto;
    margin-left: 300px;
}

#main-doc header {
    margin-top: 2rem;
}

#main-doc p {
    margin-left: 3rem;
    font-size: 15px;
}

#main-doc li {
    list-style: disc;
    margin-left: 6rem;
    font-size: 15px;
}

code {
    display: block;
    text-align: left;
    font-family: 'Ubuntu Mono', monospace;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    background-color: #e4dcdc;
    padding: 15px;
    margin: 1rem 4rem 1rem 4rem;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
}
ol #new-list {
    list-style-type: circle;
    margin-left: 3rem;
    line-height: 2;
}
ol #new-list:last-of-type {
    padding-bottom: 1rem;
}
span {
    line-height: 3;
}
.mdn {
    text-decoration: underline;
}

/*Media queries*/
@media only screen and (max-width: 815px) {
    /* For mobile phones: */
    #navbar ul {
      border: 1px solid;
      height: 207px;
    }
  
    #navbar {
      background-color: white;
      position: absolute;
      top: 0;
      padding: 0;
      margin: 0;
      width: 100%;
      max-height: 275px;
      border: none;
      z-index: 1;
      border-bottom: 2px solid;
    }
  
    #main-doc {
      position: relative;
      margin-left: 0px;
      margin-top: 270px;
    }
  }
  
  @media only screen and (max-width: 400px) {
    #main-doc {
      margin-left: -10px;
    }
  
    code {
      margin-left: -20px;
      width: 100%;
      padding: 15px;
      padding-left: 10px;
      padding-right: 45px;
      min-width: 233px;
    }
  }
  